<p>
  {{link-to "Pilapser list" "piLapsers.index" }}
</p>

<h1>Pilapser show</h1>

<p>
  <strong>Totalimages:</strong>
  <span>{{model.totalImages}}</span>
</p>

<p>
  <strong>Length:</strong>
  <span>{{model.length}}</span>
</p>

<p>
  <strong>Interval:</strong>
  <span>{{model.interval}}</span>
</p>

<p>
  <strong>Shutter speed:</strong>
  <span>{{model.shutterSpeed}}</span>
</p>

<p>
  <strong>Direction:</strong>
  <span>{{model.direction}}</span>
</p>

